@using EmbRes;

@{
    var p = new Page();
    var url = p.ClientScript.GetWebResourceUrl(typeof(MvcApplication), "EmbRes.Content.Images.GermanShep.jpg");
}


<h1>Embedded images</h1>
<hr />
<h3>From RESX files</h3>
<img alt="" src="@Url.Content("~/home/image?name=trees")" />

<hr />
<h3>As embedded resource</h3>
<img alt="" src="@url" />
