body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #eee;
    background-color: #232323;
}
.label {
    color: #cc8;
    font-weight: bold;
    width: 100px;
    text-align: right;
}
.sep {
    padding-top: 10px;
    border-top: solid 1px #fff;
}
.value {
    color: #bbb;
    font-weight: normal;
    width: 250px;
    text-align: left;
    padding-left: 10px;
}
.hilite {
    color: #ff0;
}
h2 {
    font-size: 2.0em;
    color: #0ff;
}


