@{
    ViewBag.Title = "index";
}

@section scripts  
{
    <script type="text/javascript" src="@Url.Content("~/content/scripts/module-twitter.js?v1")"></script>
    <script type="text/javascript">
        GLOBALS.Widgets.Twitter.load("despos", "#twitter-box", {maxTweets: 10}); 
    </script>
}
<div style="float:left;">
    <h2 style="font-size:2em;color:#eee;position: absolute; top: -7px">JavaScript Fun</h2>
</div>
<a class="signup-link" href="#"></a>
<div style="clear:both"></div>
<hr />
<div id="twitter-box"></div>
<div id="news-box"></div>



