<h2>Handling errors</h2>

<h3>Make sure you fixed email settings in global.asax before you click any of the following:</h3>
<ul>
    <li><a href="@Url.Content("~/home/catch")">Throws if seconds are even...</a></li>
    <li><a href="@Url.Content("~/home/degrade")">Attempts to switch gracefully to an error view ...</a></li>
    <li><a href="@Url.Content("~/home/binder")">Model binder exception ...</a></li>
    <li><a href="@Url.Content("~/home/1/2/3/4")">Unmatched URL ...</a></li>
</ul>
