
@section title{
    @Model.Title
}

@model AspectMix.ViewModels.Home.IndexViewModel

<p>Click About and snoop into HTTP details to see action of filters.</p>
<ul>
    <li><a href="/home/multi">Browser-specific</a></li>
    <li><a href="/home/test">Dynamic filters</a></li>
</ul>