
@section title{
    @Model.Title
}

@model AspectMix.ViewModels.Home.TestViewModel

<h2>Check response headers attached to this response (use Fiddler, IE9 (F12 DevToolbar), Firebug or whatever similar tool you prefer.)</h2>
<hr />
