
@model CachingDemo.ViewModels.Intrinsics.StateViewModel

<h2 style="color:@Model.TextColor;">Choose Text Color</h2>

@using(Html.BeginForm())
{
    <p>Enter a color in HTML format (#rrggbb)</p>
    @Html.TextBox("textcolor", Model.TextColor)
    <label for="persistent">Save these settings permanently</label>
    @Html.CheckBox("persistent", Model.Persistent)

    <input type="submit" value="Save" />
}
