@if(Request.IsAuthenticated) {
    <text>Welcome <span class="username">@User.Identity.Name</span>!
    [ @Html.ActionLink("Log Off", "LogOff", "Auth") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Auth") ]
}
