@{
    ViewBag.Title = "Home Page"; 
}

<script type="text/javascript" src="/home/javascript"></script>
<script type="text/javascript" src="/home/getscript"></script>
<script type="text/javascript" src="/home/getcountriesjsonp?callback=_cacheForLater&area=asia"></script>
<script type="text/javascript" src="/home/getcountries?area=emea"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Button1").click(function () { helloWorld(); });
        $("#Button2").click(function () { downloadCountries("EMEA"); });
        $("#Button3").click(function () { downloadCountriesJsonp(); });
        $("#Button4").click(function () { downloadCountriesJsonpJquery("EMEA"); });
    });
</script>

<hr />
<ul>
    <li> <a href="/home/notmodified">Return a 304 status code</a> </li>
    <li> <a href="/home/forbidden">Return a 403 status code</a> </li>
    <li> <a href="/home/notfound">Return a 404 status code</a> </li>
    <li> <a href="/home/javascript">Return some (downloadable) script code</a> </li>
    <li> <a href="/home/getcountries">Return a JSON list of countries</a> </li>
    <li> <a href="/home/getcountriesjsonp?callback=_cacheForLater&area=asia">Return a list of countries using JSONP</a> </li>
    <li> <a href="/home/feed">Return a syndication item list</a> </li>
    <li> <a href="/home/img">Display an image</a> </li>
</ul>
<hr />
<input type="button" value="Say Hello" id="Button1" />
<input type="button" value="Download countries" id="Button2" />
<input type="button" value="Download countries (JSONP)" id="Button3" />
<input type="button" value="Download countries (JSONP+jQuery)" id="Button4" />
<hr />
<select id="listOfCountries"></select>