<h2>Caching demo</h2>

<ul>
    <li><a href="@Url.Content("~/intrinsics/state")">Cookies and Session in action</a></li>
    <li><a href="@Url.Content("~/intrinsics/cachetest")">Cache in action</a></li>
</ul>