@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <h2>Now you can do a lot more ...</h2>
}
else
{
    <h2>This application doesn't really allow you to do much without logging in!</h2>
}

@Html.Partial("_NowForm")
