@model FillModel.ViewModels.Home.CountryViewModel
@{
    // Set the title of the page
    ViewBag.Title = Model.Title;
}

<h2>Pick up a country</h2>

<fieldset>
    <table cellspacing="0" cellpadding="10">
        <tr>
            <td valign="top">
                @using(Html.BeginForm("Details", "Home"))
                {
                    @Html.DropDownList("countryList", new SelectList(Model.Countries, Model.Country))
                    <input type="submit" name="btnMore" value="More" />
                }
            </td>
            <td valign="top">
                <table>
                    <tr><td><b>Area</b></td><td>@Model.Area</td></tr>
                    <tr><td><b>Capital</b></td><td>@Model.Capital</td></tr>
                    <tr><td><b>Population</b></td><td>@Model.Population</td></tr>
                </table>
            </td>
        </tr>
    </table>   
</fieldset>