@model DataAnnotations.ViewModels.Customer.CustomerViewModel

@using (Html.BeginForm("edit", "customer"))
{
    @Html.EditorForModel()
    <p> 
    <input type="submit" value="Save" />        
    </p>    
}
