@model DataAnnotations.ViewModels.Customer.CustomerViewModel

@using (Html.BeginForm("edit", "customer"))
{
    @Html.DisplayForModel()
    <p>            
    <input type="submit" value="Add" />        
    </p>                                                                                                                                                                                                                   
}