body {
    background: red;
    color: #fff;
    font-size: 2em;
    font-family: Segoe UI;
}
#container {
    width: 100%;
    border: solid 1px #fff;
}

#smartphone{ display: none;} 
#tablet{ display: none;} 
#desktop{ display: none;} 
#small{ display: block; } 

.center {
    text-align: center;
}

@media only screen and (min-width: 480px) {
    body {   
        background: orange;
    }
    #container {
        width: 440px;
        border: solid 3px #111;
    }
    #smartphone{ display: block;} 
    #tablet{ display: none;} 
    #desktop{ display: none;} 
    #small{ display: none;}       
} 

@media only screen and (min-width: 800px) {
    body {
        background: blue;
    }
    #container {
        width: 750px;
        border: solid 10px #fff;
    }
    #smartphone{ display: none;} 
    #tablet{ display: block;} 
    #desktop{ display: none;} 
    #small{ display: none;}   
} 

@media only screen and (min-width: 1200px) {
    body {
        background: gray;
    }
    #container {
        width: 1150px;
        border: solid 1px #fff;
    }
    #smartphone{ display: none;} 
    #tablet{ display: none;} 
    #desktop{ display: block;} 
    #small{ display: none;}     
}





