@model IList<Simplest.Models.Dto.News>

<h1>Web API DEMO</h1>

<div id="news-container">
    <h2>Late breaking tennis news</h2>

    <table>
        <thead><tr>
            <th>Title</th>
        </tr></thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr>
                    <td>@n.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>