@model MqBasic.ViewModels.ViewModelBase
           
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>@Model.Title</title>
    <link href="@Url.Content("~/Content/Styles/site.css")" rel="stylesheet" /> 
</head>
<body>
    @RenderBody()
</body>
</html>
