<h2>Data annotations</h2>

<a href="@Url.Action("index", "customer")">Viewing a customer record</a>
<br/>
<a href="@Url.Action("edit", "customer")">Editing a customer record</a>
<hr/>
<a href="@Url.Action("edit", "memo")">Editing a memo (validation)</a>
<br/>