@model Sep.ViewModels.Home.IndexViewModel 
        
<div class="container">               
    <div class="floating">
        <p class="legend">Customers</p>
        @using(Html.BeginForm("edit", "home"))
        {
            @Html.DropDownList("customerList", new SelectList(Model.Customers, "Id", "Company"))
            <input type="submit" name="btnEdit" value="Edit" />
        }
    </div>   

    <div class="floating-spacer">
    &nbsp;
    </div>  
</div>     

