
<h1>MQ in action</h1>

<div id="container">
    
    <p id="small" class="center">Mobile</p>
    <p id="smartphone" class="center">Smartphone</p>
    <p id="tablet" class="center">Tablet</p>
    <p id="desktop" class="center">Desktop</p>

</div>