@using BookSamples.Components.Html
@{
    ViewBag.Title = "Members only area";
}


<h2>Reserved area</h2>
<p>
     This view is reserved only to paying members...
     <hr />
     @Html.ImageOrDefault("picture", "~/images/dino.png") 
</p>