@model Object
@if (Model is Enum)
{    
   <div class="editor-field">            
      @Html.DropDownList("", new SelectList(Enum.GetValues(Model.GetType())))        
      @Html.ValidationMessage("")    
   </div>
} 
else
{    
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, 
          new { @class = "text-box single-line" })
}
