<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <div>Layout (default) >> @Request.UserAgent</div>
        
        @RenderBody()
    </body>
</html>
