@{
    ViewBag.Title = "index";
}

<h2>Sample DESKTOP page</h2>
<i>@Request.UserAgent</i>

<h4>Registered display modes</h4>
<ul>
    @{
        foreach(var d in DisplayModeProvider.Instance.Modes)
        {
            <li>@(String.IsNullOrEmpty(d.DisplayModeId) ?"default" :d.DisplayModeId)</li>
        }
    }
</ul>
